footer.footer
  .container
    .part
      h3.title Карта сайта
      ul.list
        li.item
          a(href="/design.html") Дизайн
        li.item
          a(href="/contacts.html") Kонтакты
        li.item
          a(href="/partners.html") Партнеры
        li.item
          a(href="/spicher.html") онлайн-галерея Штефана Шпихера 
        li.item
          a(href="/confidential.html") Политика конфиденциальности
    //- .part
    //-   h3.title Мы в соц.сетях
    //-   include ./socials
    .part
      h3.title Контакты
      ul.list
        li.item
          a(href="tel:+79219444525") +7 (921) 944 - 45 - 25
        li.item
          a(href="mailto:office@21.spb.ru") office@21.spb.ru
    .part
      h3.title Оставьте заявку
      .button
        a(href="/contacts.html") отправить