.gallery
  .container
    ul.tab__list(data-tabgroup="first-tab-group")
      li.tab
        a.active(href="#tab1") Частные интерьеры
      li.tab
        a(href="#tab2") Коммерческие интерьеры
    .tabgroup#first-tab-group
      .content#tab1
        ul.list
          li.item
            a(href="/project-private-1.html")
              .pic
                img(src="./assets/img/gallery/private/pic-1.jpg", alt="img", loading='lazy')
              span.title Angliyskaya, 70
          li.item
            a(href="/project-private-2.html")
              .pic
                img(src="./assets/img/gallery/private/pic-2.jpg", alt="img", loading='lazy')
              span.title ‘Norfolk’
          li.item
            a(href="/project-private-1.html")
              .pic
                img(src="./assets/img/gallery/private/pic-3.jpg", alt="img", loading='lazy')
              span.title Modern Apartments
          li.item
            a(href="/project-private-1.html")
              .pic
                img(src="./assets/img/gallery/private/pic-4.jpg", alt="img", loading='lazy')
              span.title Lux & Modern
          li.item
            a(href="/project-private-1.html")
              .pic
                img(src="./assets/img/gallery/private/pic-5.jpg", alt="img", loading='lazy')
              span.title Tarasov’s Townhouses
          li.item
            a(href="/project-private-1.html")
              .pic
                img(src="./assets/img/gallery/private/pic-6.jpg", alt="img", loading='lazy')
              span.title Penthouse
      .content#tab2
        ul.list
          li.item
            a(href="/project-commerce-1.html")
              .pic
                img(src="./assets/img/gallery/commerce/pic-1.jpg", alt="img", loading='lazy')
              span.title Van Der Bauwede
          li.item
            a(href="/project-commerce-1.html")
              .pic
                img(src="./assets/img/gallery/commerce/pic-2.jpg", alt="img", loading='lazy')
              span.title Gavello
          li.item
            a(href="/project-commerce-1.html")
              .pic
                img(src="./assets/img/gallery/commerce/pic-3.jpg", alt="img", loading='lazy')
              span.title Sport place