.gallery#gallery
  .container
    ul.tab__list(data-tabgroup="first-tab-group")
      li.tab
        a.active(href="#tab1") Частные интерьеры
      li.tab
        a(href="#tab2") Коммерческие интерьеры
    .tabgroup#first-tab-group
      .content#tab1
        ul.list
          li.item
            a(href="/project-private-1.html")
              .pic
                img(src="./assets/img/gallery/private/pic-2.jpg", alt="img", loading='lazy')
              span.title Angliyskaya, 70
          li.item
            a(href="/project-private-2.html")
              .pic
                img(src="./assets/img/gallery/private/pic-1.jpg", alt="img", loading='lazy')
              span.title Penthouse
          li.item
            a(href="/project-private-3.html")
              .pic
                img(src="./assets/img/gallery/private/pic-3.jpg", alt="img", loading='lazy')
              span.title Spacious Apartment
          li.item
            a(href="/project-private-4.html")
              .pic
                img(src="./assets/img/gallery/private/pic-4.jpg", alt="img", loading='lazy')
              span.title Gentleman's Apartment
          li.item
            a(href="/project-private-5.html")
              .pic
                img(src="./assets/img/gallery/private/pic-5.jpg", alt="img", loading='lazy')
              span.title Apartment on Vasilievsky Island
          li.item
            a(href="/project-private-6.html")
              .pic
                img(src="./assets/img/gallery/private/pic-6.jpg", alt="img", loading='lazy')
              span.title Country house in Vsevolozhsk
          li.item
            a(href="/project-private-7.html")
              .pic
                img(src="./assets/img/gallery/private/pic-7.jpg", alt="img", loading='lazy')
              span.title Repino Residence
          li.item
            a(href="/project-private-8.html")
              .pic
                img(src="./assets/img/gallery/private/pic-8.jpg", alt="img", loading='lazy')
              span.title Repino Townhouse
          li.item
            a(href="/project-private-9.html")
              .pic
                img(src="./assets/img/gallery/private/pic-9.jpg", alt="img", loading='lazy')
              span.title Apartment in Khimki
          li.item
            a(href="/project-private-10.html")
              .pic
                img(src="./assets/img/gallery/private/pic-10.jpg", alt="img", loading='lazy')
              span.title Scandi house in Komarovo
          li.item
            a(href="/project-private-11.html")
              .pic
                img(src="./assets/img/gallery/private/pic-11.jpg", alt="img", loading='lazy')
              span.title Gagarinskaya, 3
          li.item
            a(href="/project-private-12.html")
              .pic
                img(src="./assets/img/gallery/private/pic-12.jpg", alt="img", loading='lazy')
              span.title Kirochnaya Apartment
      .content#tab2
        ul.list
          li.item
            a(href="/project-commerce-1.html")
              .pic
                img(src="./assets/img/gallery/commerce/pic-1.jpg", alt="img", loading='lazy')
              span.title Van Der Bauwede
          li.item
            a(href="/project-commerce-2.html")
              .pic
                img(src="./assets/img/gallery/commerce/pic-2.jpg", alt="img", loading='lazy')
              span.title Gavello
          li.item
            a(href="/project-commerce-3.html")
              .pic
                img(src="./assets/img/gallery/commerce/pic-3.jpg", alt="img", loading='lazy')
              span.title Private gym