header.header.hidden__md
  a.logo 
    img(src="/assets/img/logo.svg", alt="logo")
  .burger.hidden__md
    input#menu-switch(type="checkbox")
    nav#navigation
      ul.list
        //- li.item
        //-   a.link(href="") о бюро
        li.item
          a.link(href="/contacts.html") контакты
        //- li.item
        //-   a.link(href="") События
        li.item
          a.link(href="") партнеры
        //- li.item
        //-   a.link(href="")
        //-     span.special Онлайн-галерея
        //-     br
        //-     | Штефана Шпихера
      .about
        p Более 19 лет успешной работы
        p Более 200 частных объектов
        p Более 70 общественных объектов
        p 
          | Обширная география: 
          br
          | Россия, США, Италия, Германия, Франция, Латвия
      .contact
        .call
          a.number(href="tel:+79219444525") Позвонить
        .call
          a.number(href="mailto:studio21.spb@gmail.com") Написать
    label.menu-switch(for='menu-switch')
      span
header.header.visible__md
  h1.logo 
    img(src="/assets/img/logo.svg", alt="logo")
  ul.list
    //- li.item
    //-   a.link(href="") о бюро
    li.item
      a.link(href="/contacts.html") контакты
    //- li.item
    //-   a.link(href="") События
    li.item
      a.link(href="") партнеры
    //- li.item
    //-   a.link(href="")
    //-     span.special Онлайн-галерея
    //-     br
    //-     | Штефана Шпихера
  .about
    p Более 19 лет успешной работы
    p Более 200 частных объектов
    p Более 70 общественных объектов
    p 
      | Обширная география: 
      br
      | Россия, США, Италия, Германия, 
      br
      | Франция, Латвия
  .contact
    .call
      span Позвонить:
      br
      a.number(href="tel:+79219444525") +7 (921) 944 45 25
    .call
      span Написать:
      br
      a.number(href="mailto:studio21.spb@gmail.com") studio21.spb@gmail.com