.burger {
  width: 86px;
  height: 70px;
  cursor: pointer;
  z-index: 1;
  position: relative;

  & .menu-switch{
    width: 86px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: translateZ(0);
    z-index: -1;
    
    & span,
    &::before,
    &::after{
      content: '';
      width: 26px;
      height: 2px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -10px;
      background-color: $textColor;
      transition: all 0.3s ease-in-out;
      transform: translateZ(0);
    }

    & span{
      width: 20px;
    }

    &::before{
      margin-top: -8px;
    }

    &::after{
      margin-top: 8px;
    }
  }

  & #menu-switch {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  & #menu-switch:not(:checked) ~ .menu-switch:hover span {
    width: 26px;
  }

  & #menu-switch:not(:checked) ~ .menu-switch:hover::before, 
  & #menu-switch:not(:checked) ~ .menu-switch:hover::after {
      width: 20px;
  }

  & #menu-switch:checked ~ .menu-switch span {
    opacity: 0;
    width: 26px;
    transform: rotate(350deg);
  }

  & #menu-switch:checked ~ .menu-switch::before,
  & #menu-switch:checked ~ .menu-switch::after{
    margin-top: -1px;
  }

  & #menu-switch:checked ~ .menu-switch::before {
      transform: rotate(45deg);
  }

  & #menu-switch:checked ~ .menu-switch::after {
    transform: rotate(-45deg);
  }

  & #navigation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 70px;
    left: 0;
    justify-content: space-between;
    background: $white;
    transition: all 0.3s ease-in-out;
    transform: translate(0, 90px);
    opacity: 0;
    padding-top: 5px;
    pointer-events: none;

    & ul.list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      width: 100%;

      & li.item{
        transition: .2s;
        padding: 0 50px;
        
        & a.link{
          font-size: $fz3;
          text-transform: uppercase;
          line-height: $lineHeight2;
          padding: 15px 0;
          display: block;
          border-bottom: 1px solid $gray;

          & .special{
            font-weight: $semiBold;
            font-size: $fz2;
          }
        }
        &:last-child{
          background-color: $gray;
          border-bottom: none;
          & a.link{
            padding: 10px 0;
          }
        }
        &:nth-child(4){
          border-bottom: none;
        }
      }
    }

    & .about{
      font-size: $fz12;
      padding: 0 50px;
      & p{
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    & .contact{
      background-color: $textColor;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px 30px;
      & .call{
        & a.number{
          font-size: $fz1;
          display: block;
          border: 1.5px solid $white;
          color: $white;
          width: 112px;
          font-weight: $semiBold;
          text-align: center;
          display: inline-block;
          padding: 10px 25px;
          text-transform: uppercase;
        }
      }
    }
  }

  & #menu-switch:checked ~ #navigation{
    pointer-events: initial;
    opacity: 1;
    transform: translate(0, 0);
    cursor: default;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: $tablet) {
  .burger{
    width: 108px;

    & .menu-switch{
      width: 108px;
    }
  }
}

@media (min-width: 992px) {
  
  .menu-switch{
    display: none;
  }

  #navigation{
    top: 0;
    width: 100%;
    justify-content: space-around;
    position: relative;
    opacity: 1;
    background: transparent;
    transform: translateY(0px);

    & ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & li:first-child{
        position: relative;
        & a:hover ~ ul.list,
        ul.list:hover{
          display: block;
          opacity: 1;
          width: 121px;
          position: absolute;
          background-color: $white;
          top: 50%;
          border-radius: 0 0 20px 20px;
          padding-top: 20px;
          left: 0;
          width: 100%;
          & li{
            padding: 0 5px;
            & a{
              background-color: transparent;
              color: $midBlue;
              font-size: $fz3;
              font-weight: $medium;
              padding: 10px 0;
              text-transform: inherit;
              border-bottom: .5px solid rgba(0,98,217,.5);
              border-radius: 0;
              &:hover{
                color: $red;
              }
            }
            &:last-child{
              & a{
                border-bottom: none;
              }
            }
          }
          
        }
        & a:hover{
          background-color: #fff;
          color: $midBlue;
        }
        & .first__link{
          background-color: #fff;
          color: $midBlue;
          position: relative;
          z-index: 1;
        }
      } 

      & li {
        text-align: left;
        margin-bottom: 0;
        text-align: center;
        & ul.list{
          display: none;
          opacity: 0;
          transition: .2s;
        }
        & a{
          font-size: $fz4;
          text-transform: uppercase;
          &.logo{
            position: relative;
            & p{
              font-size: $fz4;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #navigation{
    & ul {
      & li:first-child{
        & a:hover ~ ul.list,
        ul.list:hover{
          & li{
            padding: 0 10px;
          }
        }
      }
    }
  }
}