.design{
  & .page__top{
    background-image: url('/assets/img/design/design-bg-small.jpg');
  }
  & .about{
    & .container{
      & .part{
        & ul.list{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          & li.item{
            margin-bottom: 40px;
            width: 50%;
            & h2.title{
              margin-bottom: 15px;
            }
            & p.text{
              font-size: $fz3;
            }
            &:last-child{
              margin-bottom: 0;
              & h2.title{
                font-size: $fz3;
                font-weight: $boldest;
              }
            }
            &:nth-child(odd){
              padding-right: 10px;
            }
          }
        }
        &:last-child{
          padding: 20px 10px;
          font-size: $fz4;
          & h2.title{
            padding-bottom: 25px;
            margin-bottom: 25px;
            position: relative;
            &::after{
              display: block;
              position: absolute;
              content: '';
              left: 0;
              bottom: 0;
              width: 47px;
              height: 2px;
              background-color: $brown;
            }
          }
          & p.text{
            margin-bottom: 20px;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
        & h2.title{
          font-size: $fz25;
          font-weight: $bold;
        }
        & p.text{
          font-weight: $medium;
        }
      }
    }
  }
  & .projects{
    & .top{
      padding: 35px 0;
      & .container{
        & h2.title{
          font-weight: $regular;
          text-transform: uppercase;
        }
      }
    }
    & .content {
      background-color: $gray;
      padding: 25px 0;
      & .container{
        & .part{
          padding: 0 0 25px;
          display: flex;
          flex-direction: column;
          align-items: center;
          & .text{
            & h2.title{
              position: relative;
              padding-bottom: 20px;
              margin-bottom: 20px;
              &::after{
                display: block;
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 47px;
                height: 2px;
                background-color: $brown;
              }
            }
            & .list{
              margin-bottom: 64px;
              & p{
                margin-bottom: 20px;
                &:last-child {
                  margin-bottom: 0;
                  text-align: left;
                }
              }
            }
          }
          & .pics{
            width: 100%;
            display: flex;
            flex-direction: column;
            & .slider{
              position: relative;
              & a.slider__item{
                position: relative;
                max-height: 340px;
                overflow: hidden;
                & img{
                  transition: .5s;
                }
              }
              & .slick-list{
                background-image: url('/assets/img/icons/scale-icon.svg');
                background-size: 24px;
                background-position: 100% 100%;
                background-repeat: no-repeat;
                background-color: #fff;
              }
            }
          }
          &:last-child{
            padding: 25px 0;
            position: relative;
            display: flex;
            flex-direction: column;
            &::after{
              display: block;
              position: absolute;
              content: '';
              left: -2%;
              top: 0;
              width: 104%;
              height: 1px;
              background-color: $textColor;
            }
            & .text{
              width: 100%;
              padding: 0;
              text-align: center;
              margin-bottom: 60px;
              & h2.title::after{
                right: 0;
                margin: auto;
              }
            }
            & .pics__block{
              width: 100%;
              order: 2;
              display: flex;
              flex-direction: column;
              align-items: center;
              & .pics{
                margin-bottom: 60px;
                &:last-child{
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  & .details{
    & .part{
      &:first-child{
        padding: 30px 10px;
        background-color: $select;
      }
      &:last-child {
        display: flex;
        flex-direction: column;
        & .part{
          padding: 30px 10px;
          background-color: $middleGray;
          &:first-child{
            background-color: $darkBlue;
            & .content{
              & h2.title{
                color: $white;
              }
              & ul.list{
                & li.item{
                  color: $white;
                }
              }
            }
          }
        }
      }
      & .content{
        max-width: 495px;
        & h2.title{
          padding-bottom: 20px;
          margin-bottom: 20px;
          position: relative;
          &::after{
            display: block;
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 47px;
            height: 2px;
            background-color: $brown;
          }
        }
        & ul.list{
          & li.item{
            font-size: $fz4;
            margin-bottom: 15px;
            font-weight: $medium;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  & .confirm{
    padding: 30px 0 0;
    & .container{
      & .part{
        & h2.title{
          font-weight: $regular;
          text-transform: uppercase;
          margin-bottom: 60px;
        }
        & h3.title{
          font-size: $fz10;
          font-weight: $bold;
          margin-bottom: 60px;
          &:nth-of-type(2){
            margin-bottom: 30px;
          }
        }
        & p{
          font-size: $fz4;
          margin-bottom: 10px;
        }
        & .pic{
          margin-bottom: 20px;
        }
        &:nth-child(1) {
          margin-bottom: 20px;
        }
      }
    }
  }
  & .ideas{
    padding: 30px 0;
    & .container{
      display: flex;
      flex-direction: column;
      & h2.title{
        font-size: $fz25;
        font-weight: $regular;
        text-transform: uppercase;
        margin-bottom: 50px;
      }
      & .content{
        display: flex;
        flex-direction: column;
        & .part{
          & h3.title{
            font-size: $fz10;
            font-weight: $bold;
            margin-bottom: 45px;
          }
          &:nth-child(1){
            margin-bottom: 20px;
          }
          & .button{
            background-color: $gray;
            text-align: center;
            padding: 30px 0;
            margin-bottom: 50px;
            & a{
              padding: 9px 25px;
              background-image: none;
              font-weight: $bold;
            }
          }
          & form{
            display: flex;
            flex-wrap: wrap;
            & .form__field{
              width: 100%;
              display: flex;
              margin-bottom: 30px;
              justify-content: space-between;
              & input{
                border-bottom: 1px solid $textColor;
                flex: auto;
              }
              & label{
                width: 120px;
                display: inline-block;
              }
              &:last-child,
              &:nth-last-child(2){
                width: 50%;
                margin-bottom: 0;
              }
              &:nth-last-child(2){
                position: relative;
                font-size: 0;
                height: 42px;
                & label{
                  color: $darkGray;
                  position: absolute;
                  font-size: $fz2;
                  width: 100%;
                  background-image: url('/assets/img/icons/icon-clip.svg');
                  background-repeat: no-repeat;
                  background-position: 90% 50%;
                  background-size: 28px 28px;
                  height: 42px;
                }
                & input{
                  height: 42px;
                  width: 100%;
                  background: transparent;
                  border-color: transparent;
                  position: absolute;
                  top: 0;
                  left: 0;
                  opacity: 0;
                  cursor: pointer;
                }
              }
              &:last-child{
                & input{
                  width: 100%;
                  border: 3px solid $textColor;
                  background-color: transparent;
                  text-transform: uppercase;
                  font-weight: $bold;
                  padding: 0 15px 0 0;
                  height: 42px;
                  line-height: 40px;
                  letter-spacing: $ls2;
                  background-position: 90% 50%;
                  background-size: auto 35%;
                  background-repeat: no-repeat;
                  transition: .2s;
                  cursor: pointer;
                  &:hover{
                    background-position: 93% 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  .design{
    & .page__top{
      background-image: url('/assets/img/design/design-bg-ipad.jpg');
    }
  }
}

@media (min-width: $smDesktopWidth) {
  .design{
    & .page__top{
      background-image: url('/assets/img/design/design-bg.jpg');
    }
    & .about{
      & .container{
        align-items: stretch;
        & .part{
          &:last-child{
            padding: 50px 90px;
          }
          &:first-child{
            padding-right: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & ul.list{
              & li.item{
                margin-bottom: 40px;
                width: 25%;
                padding-right: 10px;
              }
            }
          }
        }
      }
    }
    & .projects{
      & .top{
        padding: 75px 0 35px;
        & .container{
          & h2.title{
            font-size: $fz15;
          }
        }
      }
      & .content {
        padding: 49px 0 70px;
        & .container{
          & .part{
            padding: 0 0 70px;
            flex-direction: row;
            & .text{
              width: 49%;
              padding: 0 70px 0 0;
              & .list{
                margin-bottom: 0px;
              }
            }
            & .pics{
              width: 51%;
              & .slider{
                & a.slider__item{
                  filter: grayscale(100%);
                  &:hover{
                    filter: grayscale(0%);
                    & img{
                      transform: scale(1.05);
                    }
                  }
                }
              }
            }
            &:last-child{
              padding: 45px 0 0;
              & .pics{
                order: 1;
              }
              & .text {
                order: 2;
              }
              & .pics__block{
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                & .pics{
                  width: 47%;
                  margin-bottom: 0;
                  & .slider__item{
                    max-height: 336px;
                    overflow: hidden;
                  }
                }
              }
            }
          }
        }
      }
    }
    & .details{
      display: flex;
      flex-direction: row;
      & .part{
        width: 50%;
        &:first-child{
          padding: 0;
          display: flex;
          justify-content: flex-end;
          & .content {
            padding: 50px 105px 50px 123px;
          }
        }
        &:last-child {
          & .part{
            width: 100%;
            padding: 10px;
            padding: 0;
            flex-grow: 1;
            &:first-child{
              justify-content: flex-start;
              & .content {
                padding: 50px 0 50px 105px;
                & ul.list{
                  & li.item{
                    margin-bottom: 10px;
                    &:last-child{
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
            &:last-child{
              & .content {
                padding: 90px 0 90px 105px;
              }
            }
          }
        }
        & .content{
          max-width: 495px;
          & ul.list{
            & li.item{
              margin-bottom: 30px;
            }
          }
        }
      }
    }

    & .confirm{
      padding: 100px 0 0;
      & .container{
        display: flex;
        justify-content: space-between;
        & .part{
          width: 48%;
          & h2.title{
            margin-bottom: 70px;
            font-size: $fz15;
          }
          & h3.title{
            font-size: $fz25;
            margin-bottom: 70px;
            &:nth-of-type(2){
              margin-bottom: 50px;
            }
          }
          & p{
            font-size: $fz4;
            margin-bottom: 20px;
          }
          & .pic{
            margin-bottom: 20px;
            & img{
              width: 100%;
            }
          }
          &:nth-child(1) {
            margin-bottom: 0px;
          }
        }
      }
    }

    & .ideas{
      padding: 100px 0;
      & .container{
        & h2.title{
          font-size: $fz15;
        }
        & .content{
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch;
          & .part{
            width: 48%;
            & h3.title{
              font-size: $fz25;
            }
            & .slider-ideas{
              & img{
                width: 100%;
              }
            }
            &:nth-child(1){
              margin-bottom: 0px;
            }
            & form{
              & .form__field{
                &:last-child{
                  & input{
                    background-image: url('/assets/img/icons/arrow-send-black.svg');
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $desktopWidth){
  .design{
    & .about{
      & .container{
        & .part{
          &:first-child{
            & ul.list{
              & li.item{
                padding-right: 25px;
              }
            }
          }
        }
      }
    }
    & .projects{
      & .top{
        padding: 75px 0 35px;
        & .container{
          & h2.title{
            font-size: $fz15;
          }
        }
      }
      & .content {
        & .container{
          & .part{
            & .text{
              padding: 0 140px 0 0;
            }
          }
        }
      }
    }
    & .details{
      & .part{
        &:first-child{
          & .content {
            padding: 50px 105px 50px 0px;
          }
        }
      }
    }
  }
}