form.form {
  display: flex;
  flex-direction: column;
  position: relative;

  & .part{
    padding: 0;
  }

  & h2.title{
    margin-bottom: 45px;
    font-weight: $bold;
    font-size: $fz25;
  }

  & p{
    font-weight: $regular;
    margin-bottom: 30px;
  }

  & .form__field {
    margin-bottom: 45px;
    position: relative;

    input.input {
      padding: 0px 0 5px;
      width: 100%;
      line-height: 1;
      background-color: transparent;
      border-bottom: .5px solid $textColor;
      cursor: pointer;

      &:focus{
        outline: none;
      }

      &:focus ~ label,
      &:valid ~ label{
        top: -15px;
        font-size: $fz3;
      }

      &:focus ~ .bar::before,
      &:focus ~ .bar::after{
        width: 50%;
      }
    }

    & textarea.textarea{
      padding: 25px 0 0 0;
      width: 100%;
      line-height: $lineHeight3;
      min-height: 129px;
      background-color: transparent;
      border-bottom: .5px solid $textColor;
      & ~ label{
        top: -20px;
      }
    }

    & label{
      font-weight: $regular;
      position: absolute;
      pointer-events:none;
      left: 0;
      top: 0;
      transition: 0.2s ease all; 
      font-size: $fz6;
    }

    & .bar{
      position:relative; 
      display:block; 
      width:100%;
      &::before,
      &::after {
        content:'';
        height: 1px; 
        width: 0;
        bottom: 1px; 
        position:absolute;
        background: $textColor; 
        transition:0.2s ease all; 
      }
      &::before{
        left: 50%;
      }
      &::after{
        right: 50%;
      }
    }

    &:nth-of-type(2){
      margin-bottom: 65px;
    }

    &:last-of-type{
      margin-bottom: 0;
      & button.button {
        position: relative;
        display: inline-block;
        font-size: $fz5;
        background-color: transparent;
        font-weight: $semiBold;
        text-transform: uppercase;
        transition: .2s;
        cursor: pointer;
        padding: 10px 55px 10px 40px;
        border-width: 3px;
        border-style: solid;
        border-color: $textColor;
        background-image: url('/assets/img/icons/arrow-send-black.svg');
        background-position: 90% 50%;
        background-size: auto 35%;
        background-repeat: no-repeat;
        &:hover{
          background-position: 95% 50%;
        }
      }
    }
  }
}

@media (min-width: $smDesktopWidth) {
  form.form {
    padding: 0;
    flex-direction: row;
    align-items: flex-end;

    & .part{
      width: 50%;
      &:nth-child(2){
        padding: 0;
      }
    }
  
    & .form__field {
  
      &:nth-of-type(2),
      &:nth-of-type(1) {
        padding-left: 120px;
      }

      input.input {
  
        &:focus ~ label,
        &:valid ~ label{
          top: 0;
          font-size: $fz6;
        }
      }
    }
  }
}