.gallery{
  padding: 40px 0 0;
  & .container {
    & ul.tab__list{
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      align-items: flex-start;
      & li.tab{
        width: 50%;
        & a{
          font-weight: $bold;
          font-size: $fz12;
          letter-spacing: $ls2;
          text-transform: uppercase;
          color: $darkGray;
          &.active{
            color: $textColor;
          }
        }
        &:first-child{
          padding-right: 15px;
          text-align: right;
        }
        &:last-child{
          padding-left: 15px;
        }
      }
    }
    & .tabgroup{
      & .content{
        & ul.list{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          & li.item{
            margin-bottom: 40px;
            & .pic{
              font-size: 0;
              margin-bottom: 20px;
              overflow: hidden;
              & img{
                transition: .5s;
              }
            }
            & span.title{
              font-size: $fz5;
              font-weight: $medium;
              display: block;
              text-align: center;
            }
            &:hover{
              & .pic{
                & img{
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  .gallery{
    & .container{
      & .tabgroup{
        & .content{
          & ul.list{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            & li.item{
              width: 30%;
              margin-right: 5%;
              &:nth-child(3n){
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $smDesktopWidth){
  .gallery{
    padding: 65px 0 90px;
  }
}