header.header {
  display: flex;
  align-items: center;
  z-index: 5;
  background-color: $white;
  justify-content: space-between;
  width: 100%;
  position: relative;

  &.visible__md{
    display: none;
  }

  & .container{
    display: flex;
    align-items: center;
    & li{
      &.active,
      & a:hover{
        background-color: $red;
        border-radius: 20px;
      }
      &:first-child{
        & a{
          display: flex;
          align-items: center;
          justify-content: space-between;
          & span.arrow{
            width: 9px;
            height: 7px;
            background-image: url('/assets/img/icons/arrow-down.svg');
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 5px;
            position: absolute;
            right: 0px;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }
    }
    a{
      text-transform: uppercase;
      border-radius: 20px;
      background-color: transparent;
      font-weight: $extraBold;
      color: $white;
      line-height: 1;
      padding: 10px 12px;
      border-radius: 20px;
      &.active,
      &:hover{
        background-color: $red;
      }

      &.active{
        &:hover{
          background-color: $white;
          color: $red;
        }
      }
    }
  
    h1.logo {
      cursor: pointer;
      flex: auto;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
  
      &:hover{
        background-color: transparent;
      }
  
      & img{
        display: block;
        margin-bottom: 3px;
        max-width: 100px;
      }
  
      & p{
        display: block;
        font-weight: $bold;
        font-style: italic;
        color: $white;
        text-transform: lowercase;
      }
    }
  }
}

@media (min-width: 768px){
  header.header{
    & .container{
      h1.logo{
        & img{
          max-width: 180px;
        }
      }
    }
    
  }
}

@media (min-width: 992px) {
  header.header {
    width: 20%;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0;

    &.hidden__md{
      display: none;
    }

    &.visible__md{
      display: flex;
    }

    & li{
      & a{
        &:hover{
          background-color: $red;
        }
      }
    }
  }

}