main.main{
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
  & .part{
    flex-grow: 1;
    background-image: url('/assets/img/index/pic-1.jpg');
    background-position: 100% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & a{
      color: $white;
      text-transform: uppercase;
      display: block;
      background-color: rgba(47,48,66,.9);
      padding: 10px;
      font-weight: $regular;
      & span:first-child {
        margin-bottom: 20px;
        display: block;
      }
      & span:last-child{
        display: block;
        font-size: $fz2;
        letter-spacing: .1em;
        position: relative;
        &::after{
          display: block;
          position: absolute;
          content: '';
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 40px;
          height: 4px;
          background-image: url('/assets/img/icons/arrow-right.svg');
          background-size: contain;
          background-position: 100% 50%;
          background-repeat: no-repeat;
        }
      }
    }
    
    &:last-child {
      background-image: url('/assets/img/index/pic-2.jpg');
      background-position: 0% 0%;
    }
  }
}

@media (min-width: 992px) {
  main.main{
    flex-direction: row;
    align-items: center;
    & .part{
      flex-grow: inherit;
      width: 60%;
      height: 100%;
      transition: .5s;
      padding: 50px 0;
      position: relative;
      background-attachment: scroll, scroll;
      backface-visibility: hidden;
      transform: perspective(1000px);
      -webkit-transition: -webkit-transform 250ms cubic-bezier(.632,.002,.368,.997);
      transition: -webkit-transform 250ms cubic-bezier(.632,.002,.368,.997);
      transition: transform 250ms cubic-bezier(.632,.002,.368,.997);
      transition: transform 250ms cubic-bezier(.632,.002,.368,.997),-webkit-transform 250ms cubic-bezier(.632,.002,.368,.997);

      & a{
        background-color: transparent;
        padding: 10px;
        font-weight: $regular;
        transition: .5s;
        padding: 110px 30px 40px;
        & span:first-child {
          margin-bottom: 90px;
          display: block;
          font-size: $fz10;
        }
        & span:last-child{
          display: block;
          font-size: $fz2;
          letter-spacing: .1em;
          transform-style: preserve-3d;
          transition: transform 800ms ease 0s, opacity 800ms ease 0s;
          opacity: 0;
          transform: translateX(0px) translateY(1vw) translateZ(0px);
          &::after{
            height: 6px;
          }
        }
      }
      
      &:last-child {
        width: 40%;
        background-position: 10% 50%;
      }
      &:hover{
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
        transform: scale(1.03);
        z-index: 2;
        transition: transform 0.25s cubic-bezier(0.632, 0.002, 0.368, 0.997) 0s;
        & a{
          background-color: rgba(47,48,66,.9);
          & span:last-child{
            transition: transform 500ms ease 0s, opacity 800ms ease 0s;
            opacity: 1;
            transform: translateX(0px) translateY(0vh) translateZ(0px);
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  main.main{
    & .part{
      & a{
        padding: 110px 50px 40px;
        & span:first-child {
          font-size: $fz11;
        }
      }
    }
  }
}