.news{
  & .text{
    background-color: $gray;
    padding: 40px 0;
    & .container{
      & h1.title{
        font-size: $fz15;
        font-weight: $regular;
        position: relative;
        margin-bottom: 40px;
        padding-bottom: 25px;
        &:after {
          display: block;
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          width: 47px;
          height: 2px;
          background-color: #584f53;
        }
      }
      & ul.list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        & li.item{
          margin-bottom: 50px;
          & .pic{
            margin-bottom: 35px;
            overflow: hidden;
            & .inner{
              height: 0;
              padding-top: 100%;
              position: relative;
              & img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          & h2.title{
            position: relative;
            padding: 0 10px;
            font-size: $fz10;
            font-weight: $bold;
          }
        }
      }
    }
  }
  & .feed{
    padding: 40px 0;
    & .container{
      & ul.list{
        display: flex;
        flex-direction: column;
        & li.item{
          width: 100%;
          text-align: center;
          margin-bottom: 40px;
          & a{
            display: block;
            & .pic{
              width: 215px;
              height: 140px;
              overflow: hidden;
              margin: auto;
              margin-bottom: 10px;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: 50%;
            }
            & h2.title{
              font-size: $fz10;
              text-align: left;
              width: 70%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  .news{
    & .text{
      & .container{
        & ul.list{
          flex-direction: row;
          & li.item{
            width: 48%;
            & h2.title{
              padding: 0 30px;
              font-size: $fz25;
            }
          }
        }
      }
    }
    & .feed{
      padding: 80px 0;
      & .container{
        & ul.list{
          & li.item{
            & a{
              display: flex;
              & .pic{
                margin: 0 50px 0 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $smDesktopWidth){
  .news{
    & .text{
      padding: 145px 0 55px;
      & .container{
        & h1.title{
          font-size: $fz15;
        }
      }
    }
  }
}