.project{
  & .about{
    & .container{
      & .part{
        padding: 20px 10px;
        background-color: $darkBlue;
        color: $white;
        & h2.title{
          position: relative;
          padding-bottom: 25px;
          margin-bottom: 25px;
          &::after{
            display: block;
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 47px;
            height: 2px;
            background-color: $white;
          }
        }
        & p.text{
          font-size: $fz4;
        }
      }
    }
  }
  & .content{
    padding: 40px 0;
    & .container{
      & .row{
        margin-bottom: 0px;
        &:last-child{
          margin-bottom: 0;
        }
        & .part{
          margin-bottom: 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          &:last-child{
            margin-bottom: 0;
          }
          & a{
            font-size: 0;
            & img{
              display: block;
              margin-bottom: 20px;
            }
          }
        }
        &:nth-child(4){
          & .part{
            align-items: flex-end;
            justify-content: space-between;
            &:first-child{
              align-items: flex-start;
              & a{
                &:last-child{
                  max-width: 367px;
                }
              }
            }
            
          }
        }
      }
    }
  }
  &.project__private--1{
    & .page__top{
      background-image: url('/assets/img/project/private/project-1/bg-small.jpg');
    }
  }
  &.project__private--2{
    & .page__top{
      background-image: url('/assets/img/project/private/project-2/bg-small.jpg');
    }
  }
  &.project__private--3{
    & .page__top{
      background-image: url('/assets/img/project/private/project-3/bg-small.jpg');
    }
  }
  &.project__private--4{
    & .page__top{
      background-image: url('/assets/img/project/private/project-4/bg-small.jpg');
    }
  }
  &.project__private--5{
    & .page__top{
      background-image: url('/assets/img/project/private/project-5/bg-small.jpg');
    }
  }
  &.project__private--6{
    & .page__top{
      background-image: url('/assets/img/project/private/project-6/bg-small.jpg');
    }
  }
  &.project__private--7{
    & .page__top{
      background-image: url('/assets/img/project/private/project-7/bg-small.jpg');
    }
  }
  &.project__commerce--1{
    & .page__top{
      background-image: url('/assets/img/project/commerce/project-1/bg-small.jpg');
    }
  }
  &.project__commerce--2{
    & .page__top{
      background-image: url('/assets/img/project/commerce/project-2/bg-small.jpg');
    }
  }
  &.project__commerce--3{
    & .page__top{
      background-image: url('/assets/img/project/commerce/project-3/bg-small.jpg');
    }
  }
}

@media (min-width: $tablet) {
  .project{
    &.project__private--1{
      & .page__top{
        background-image: url('/assets/img/project/private/project-1/bg-ipad.jpg');
      }
    }
    &.project__private--2{
      & .page__top{
        background-image: url('/assets/img/project/private/project-2/bg-ipad.jpg');
      }
    }
    &.project__private--3{
      & .page__top{
        background-image: url('/assets/img/project/private/project-3/bg-ipad.jpg');
      }
    }
    &.project__private--4{
      & .page__top{
        background-image: url('/assets/img/project/private/project-4/bg-ipad.jpg');
      }
    }
    &.project__private--5{
      & .page__top{
        background-image: url('/assets/img/project/private/project-5/bg-ipad.jpg');
      }
    }
    &.project__private--6{
      & .page__top{
        background-image: url('/assets/img/project/private/project-6/bg-ipad.jpg');
      }
    }
    &.project__private--7{
      & .page__top{
        background-image: url('/assets/img/project/private/project-7/bg-ipad.jpg');
      }
    }
    &.project__commerce--1{
      & .page__top{
        background-image: url('/assets/img/project/commerce/project-1/bg-ipad.jpg');
      }
    }
    &.project__commerce--3{
      & .page__top{
        background-image: url('/assets/img/project/commerce/project-3/bg-ipad.jpg');
      }
    }
  }
}

@media (min-width: $smDesktopWidth) {
  .project{
    & .about{
      & .container{
        justify-content: flex-end;
        & .part{
          padding: 55px 75px;
          width: 50%;
        }
      }
    }
    & .content{
      padding: 70px 0;
      & .container{
        & .row{
          width: 100%;
          display: flex;
          margin-bottom: 0px;
          & .part{
            width: 50%;
            margin-bottom: 0;
            & a{
              & img{
                margin-bottom: 0;
              }
            }
          }
          &:first-child{
            align-items: center;
            & .part{
              &:first-child{
                display: flex;
                flex-direction: row;
                padding-right: 90px;
              }
            }
          }
          &:nth-last-child(2){
            margin-bottom: 110px;
          }
          &:nth-child(2){
            margin-bottom: 110px;
            align-items: center;
            & .part{
              &:first-child{
                flex-direction: column;
                justify-content: flex-end;
              }
              &:last-child{
                padding-left: 90px;
                align-items: flex-end;
                & a{
                  &:first-child{
                    margin-bottom: 110px;
                  }
                  &:last-child{
                    max-width: 367px;
                  }
                }
              }
            }
          }
          &:nth-child(3) {
            & .part{
              width: 100%;
            }
          }
          &:nth-child(4) {
            align-items: stretch;
            & .part{
              &:last-child{
                padding-left: 90px;
              }
              & a{
                &:first-child{
                  margin-bottom: 110px;
                }
              }
            }
          }
        }
      }
    }
    &.project__private--1{
      & .page__top{
        background-image: url('/assets/img/project/private/project-1/bg.jpg');
      }
    }
    &.project__private--2{
      & .page__top{
        background-image: url('/assets/img/project/private/project-2/bg.jpg');
      }
    }
    &.project__private--3{
      & .page__top{
        background-image: url('/assets/img/project/private/project-3/bg.jpg');
      }
      & .content {
        & .container{
          & .row{
            &:first-child{
              margin-bottom: 110px;
            }
          }
        }
      }
    }
    &.project__private--4{
      & .page__top{
        background-image: url('/assets/img/project/private/project-4/bg.jpg');
      }
    }
    &.project__private--5{
      & .content{
        & .container{
          & .row{
            &:first-child{
              margin-bottom: 110px;
            }
          }
        }
      }
    }
    &.project__private--6{
      & .page__top{
        background-image: url('/assets/img/project/private/project-6/bg.jpg');
      }
    }
    &.project__commerce--1{
      & .page__top{
        background-image: url('/assets/img/project/commerce/project-1/bg.jpg');
      }
    }
    &.project__commerce--3{
      & .page__top{
        background-image: url('/assets/img/project/commerce/project-3/bg.jpg');
      }
      & .content{
        & .container{
          & .row{
            &:first-child{
              margin-bottom: 110px;
            }
            &:nth-child(2){
              align-items: center;
              & .part{
                & a{
                  &:first-child{
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}