extends ../layout/page

block content
  .design
    .page__top
      .container
        h1.title 
          | Дизайн 
          br
          | для жизни 
          br
          | и вдохновения
    .about
      .container
        .part
          ul.list
            li.item
              h2.title 19+
              p.text лет успешной работы
            li.item
              h2.title 200+
              p.text частных объектов
            li.item
              h2.title 70+
              p.text общественных объектов
            li.item
              h2.title 
                | Обширная 
                br
                | география:
              p.text Россия, США, Италия, Германия, Франция, Латвия
          .button
            a.scroll(href="#gallery") проекты
        .part
          h2.title Услуги
          p.text Разработка дизайн-проектов частных и общественных интерьеров: от типовых до элитных
          p.text Светотехническое проектирование
          p.text Комплектация проектов (мебель, свет, текстиль)
          p.text Юридическое сопровождение (согласования)
          p.text Сопровождение проекта на этапе строительства (авторский надзор)
          p.text Декорирование
    .projects
      .top
        .container
          h2.title
            | Состав 
            br
            | дизайн-проекта
      .content
        .container
          .part
            .text
              h2.title Разработка планировочных решений
              .list
                p Обмерные работы
                p Планировочное решение. Зонирование пространства
                p План расстановки мебели и оборудования
            .pics
              .slider#slider-1
                a.slider__item(data-lightbox='scheme' href='/assets/img/scheme/scheme-1.jpg')
                  img(src="/assets/img/scheme/scheme-1.jpg", alt="img")
                a.slider__item(data-lightbox='scheme' href='/assets/img/scheme/scheme-2.jpg')
                  img(src="/assets/img/scheme/scheme-2.jpg", alt="img")
                a.slider__item(data-lightbox='scheme' href='/assets/img/scheme/scheme-3.jpg')
                  img(src="/assets/img/scheme/scheme-3.jpg", alt="img")
          .part
            .text
              h2.title Разработка общей концепции дизайна
              .list
                p 
                  | Разработка концептуального решения: 
                  br
                  | 3D-визуализация или эскизная подача
            .pics
              .slider#slider-2
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-1.jpg')
                  img(src="/assets/img/scetch/scetch-1.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-2.jpg')
                  img(src="/assets/img/scetch/scetch-2.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-3.jpg')
                  img(src="/assets/img/scetch/scetch-3.jpg", alt="img")
    .details
      .part
        .content
          h2.title Выполнение рабочих чертежей
          ul.list
            li.item Демонтажный план стен и перегородок
            li.item Монтажный план стен и перегородок
            li.item План полов
            li.item План потолков
            li.item План отделки стен
            li.item Необходимые развертки по стенам
            li.item Необходимые узлы и сечения сложных декоративных элементов
            li.item План расстановки сантехнического оборудования с привязками
            li.item Светотехнический план (выключатели, розетки, группы включений)
            li.item Ведомость отделочных материалов
      .part
        .part
          .content
            h2.title Подбор материалов и оборудования
            ul.list
              li.item Подбор мебели
              li.item Подбор светотехнического оборудования
              li.item Подбор сантехнического оборудования
              li.item Подбор отделочных материалов
              li.item Подбор текстиля
              li.item Подбор аксессуаров. Декорирование
        .part
          .content
            h2.title Строительство
            ul.list
              li.item Собственные надежные ремонтные бригады
              li.item Квалифицированные узкие специалисты
              li.item Постоянный авторский надзор
    include ../includes/module/gallery