extends ../layout/page

block content
  .design
    .page__top
      .container
        h1.title 
          | Дизайн 
          br
          | для жизни 
          br
          | и вдохновения
    .about
      .container
        .part
          ul.list
            li.item
              h2.title 19+
              p.text лет успешной работы
            li.item
              h2.title 200+
              p.text частных объектов
            li.item
              h2.title 70+
              p.text общественных объектов
            li.item
              h2.title 
                | Обширная 
                br
                | география:
              p.text Россия, США, Италия, Германия, Франция, Латвия
          .button
            a(href="") проекты
        .part
          h2.title Услуги
          p.text Разработка дизайн-проектов частных и общественных интерьеров: от типовых до элитных
          p.text Светотехническое проектирование
          p.text Комплектация проектов (мебель, свет, текстиль)
          p.text Юридическое сопровождение (согласования)
          p.text Сопровождение проекта на этапе строительства (авторский надзор)
          p.text Декорирование