extends ../layout/page

block content
  .design
    .page__top
      .container
        h1.title 
          | Дизайн 
          br
          | для жизни 
          br
          | и вдохновения
    .about
      .container
        .part
          ul.list
            li.item
              h2.title 19+
              p.text лет успешной работы
            li.item
              h2.title 200+
              p.text частных объектов
            li.item
              h2.title 70+
              p.text общественных объектов
            li.item
              h2.title 
                | Обширная 
                br
                | география:
              p.text Россия, США, Италия, Германия, Франция, Латвия
          .button
            a.scroll(href="#gallery") проекты
        .part
          h2.title Услуги
          p.text Разработка дизайн-проектов частных и общественных интерьеров: от типовых до элитных
          p.text Светотехническое проектирование
          p.text Комплектация проектов (мебель, свет, текстиль)
          p.text Юридическое сопровождение (согласования)
          p.text Сопровождение проекта на этапе строительства (авторский надзор)
          p.text Декорирование
    .projects
      .top
        .container
          h2.title
            | Состав 
            br
            | дизайн-проекта
      .content
        .container
          .part
            .text
              h2.title Разработка планировочных решений
              .list
                p Обмерные работы
                p Планировочное решение. Зонирование пространства
                p План расстановки мебели и оборудования
            .pics
              .slider#slider-1
                a.slider__item(data-lightbox='scheme' href='/assets/img/scheme/scheme-1.jpg')
                  img(src="/assets/img/scheme/scheme-1.jpg", alt="img")
                a.slider__item(data-lightbox='scheme' href='/assets/img/scheme/scheme-2.jpg')
                  img(src="/assets/img/scheme/scheme-2.jpg", alt="img")
                a.slider__item(data-lightbox='scheme' href='/assets/img/scheme/scheme-3.jpg')
                  img(src="/assets/img/scheme/scheme-3.jpg", alt="img")
          .part
            .text
              h2.title Разработка общей концепции дизайна
              .list
                p 
                  | Разработка концептуального решения: 
                  br
                  | 3D-визуализация или эскизная подача
            .pics
              .slider#slider-2
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-1.jpg')
                  img(src="/assets/img/scetch/scetch-1.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-2.jpg')
                  img(src="/assets/img/scetch/scetch-2.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-3.jpg')
                  img(src="/assets/img/scetch/scetch-3.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-4.jpg')
                  img(src="/assets/img/scetch/scetch-4.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-5.jpg')
                  img(src="/assets/img/scetch/scetch-5.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-6.jpg')
                  img(src="/assets/img/scetch/scetch-6.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-7.jpg')
                  img(src="/assets/img/scetch/scetch-7.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-8.jpg')
                  img(src="/assets/img/scetch/scetch-8.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-9.jpg')
                  img(src="/assets/img/scetch/scetch-9.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-10.jpg')
                  img(src="/assets/img/scetch/scetch-10.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-11.jpg')
                  img(src="/assets/img/scetch/scetch-11.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-12.jpg')
                  img(src="/assets/img/scetch/scetch-12.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-13.jpg')
                  img(src="/assets/img/scetch/scetch-13.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-14.jpg')
                  img(src="/assets/img/scetch/scetch-14.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-15.jpg')
                  img(src="/assets/img/scetch/scetch-15.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-16.jpg')
                  img(src="/assets/img/scetch/scetch-16.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-17.jpg')
                  img(src="/assets/img/scetch/scetch-17.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-18.jpg')
                  img(src="/assets/img/scetch/scetch-18.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-19.jpg')
                  img(src="/assets/img/scetch/scetch-19.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-20.jpg')
                  img(src="/assets/img/scetch/scetch-20.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-22.jpg')
                  img(src="/assets/img/scetch/scetch-22.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-23.jpg')
                  img(src="/assets/img/scetch/scetch-23.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-24.jpg')
                  img(src="/assets/img/scetch/scetch-24.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-25.jpg')
                  img(src="/assets/img/scetch/scetch-25.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-26.jpg')
                  img(src="/assets/img/scetch/scetch-26.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-27.jpg')
                  img(src="/assets/img/scetch/scetch-27.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-28.jpg')
                  img(src="/assets/img/scetch/scetch-28.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-29.jpg')
                  img(src="/assets/img/scetch/scetch-29.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-30.jpg')
                  img(src="/assets/img/scetch/scetch-30.jpg", alt="img")
                a.slider__item(data-lightbox='scetch' href='/assets/img/scetch/scetch-31.jpg')
                  img(src="/assets/img/scetch/scetch-31.jpg", alt="img")
    .details
      .part
        .content
          h2.title Выполнение рабочих чертежей
          ul.list
            li.item Демонтажный план стен и перегородок
            li.item Монтажный план стен и перегородок
            li.item План полов
            li.item План потолков
            li.item План отделки стен
            li.item Необходимые развертки по стенам
            li.item Необходимые узлы и сечения сложных декоративных элементов
            li.item План расстановки сантехнического оборудования с привязками
            li.item Светотехнический план (выключатели, розетки, группы включений)
            li.item Ведомость отделочных материалов
      .part
        .part
          .content
            h2.title Подбор материалов и оборудования
            ul.list
              li.item Подбор мебели
              li.item Подбор светотехнического оборудования
              li.item Подбор сантехнического оборудования
              li.item Подбор отделочных материалов
              li.item Подбор текстиля
              li.item Подбор аксессуаров. Декорирование
        .part
          .content
            h2.title Строительство
            ul.list
              li.item Собственные надежные ремонтные бригады
              li.item Квалифицированные узкие специалисты
              li.item Постоянный авторский надзор
    .confirm
      .container
        .part
          h2.title 
            | Согласование 
            br
            | перепланировок
          h3.title Не стоит забывать про такой важный шаг, как согласование перепланировки помещения 
          h3.title В числе наших услуг 
          p Разработка проектной документации для согласования перепланировок помещений любого назначения
          p Разработка и согласование проектной документации для реконструкции зданий
          p Согласование дополнительного оборудования на фасадах зданий (кондиционеры, вентиляционные трубы, козырьки, маркизы)
          p Проведение технического обследования зданий
          p Разработка и согласование проектной документации для устройства входов в помещение
          p Перевод объектов в нежилой/жилой фонд
          p Снятие аварийности помещений
          p Ввод объектов в эксплуатацию после выполнения строительных работ
        .part
          .pic
            img(src="./assets/img/design/confirm.jpg", alt="img")
          p Очень часто к нам обращаются уже с готовым дизайн-проектом, который не соответствует нормам проектирования. В Bureau 21 дизайнеры работают в тандеме с опытными проектировщиками, что позволяет всегда получить согласованную перепланировку и защитить себя от штрафов, жалоб и судов. 
          p Для домов-памятников архитектуры, которых в Санкт-Петербурге немало, применяется особый порядок согласования. Бюро проконсультирует по перепланировке и переустройству объекта любой сложности и любого назначения: жилые помещения, рестораны, гостиницы, бизнес-центры, магазины, медицинские центры и т.д.
    .ideas
      .container
        h2.title 
          | Идеи для 
          br
          | вдохновения
        .content
          .part
            .slider-ideas#slider-2
              a.slider__item(data-lightbox='idea' href='/assets/img/ideas/idea-1.jpg')
                img(src="/assets/img/ideas/idea-1.jpg", alt="img")
              a.slider__item(data-lightbox='idea' href='/assets/img/ideas/idea-2.jpg')
                img(src="/assets/img/ideas/idea-2.jpg", alt="img")
              a.slider__item(data-lightbox='idea' href='/assets/img/ideas/idea-3.jpg')
                img(src="/assets/img/ideas/idea-3.jpg", alt="img")
              a.slider__item(data-lightbox='idea' href='/assets/img/ideas/idea-4.jpg')
                img(src="/assets/img/ideas/idea-4.jpg", alt="img")
              a.slider__item(data-lightbox='idea' href='/assets/img/ideas/idea-5.jpg')
                img(src="/assets/img/ideas/idea-5.jpg", alt="img")
              a.slider__item(data-lightbox='idea' href='/assets/img/ideas/idea-6.jpg')
                img(src="/assets/img/ideas/idea-6.jpg", alt="img")
              a.slider__item(data-lightbox='idea' href='/assets/img/ideas/idea-7.jpg')
                img(src="/assets/img/ideas/idea-7.jpg", alt="img")
          .part
            h3.title Чтобы мы смогли рассчитать примерную стоимость работ, заполните, пожалуйста, анкету
            .button
              a(href="./assets/img/brief.pdf" download) Скачать анкету
            form#sendform(action="" method="post" enctype="multipart/form-data")
              .form__field
                label Ваше имя:
                input.required(name="name" value="" size="" type="text")
              .form__field
                label Ваш e-mail:
                input(name="email" value="" size="" type="email")
              .form__field
                label Телефон:
                input.required(name="tel" value="" size="" type="tel")
              .form__field
                label.file__status
                  | Прикрепите 
                  br
                  | заполненную 
                  br
                  | анкету
                input#upload(name="file" value="" type="file")
              .form__field
                input(value="Отправить" name="sendMail" type="submit")
    include ../includes/module/gallery