extends ../layout/main

block content
  main.main
    .part
      a(href="")
        span 
          | Дизайн 
          br
          | интерьеров
        span перейти
    .part
      a(href="")
        span 
          | Согласование 
          br
          | перепланировок
        span перейти