extends ../layout/main

block content
  main.main
    .part
      a(href="/design.html")
        span 
          | Дизайн 
          br
          | интерьеров
        span перейти
    .part
      a(href="/spicher.html")
        span 
          | онлайн-галерея
          br
          | штефана шпихера
        span перейти