extends ../layout/page

block content
  .news
    .bottom
      .container
        h1.title Штефан&nbsp;Шпихер презентовал в Санкт&#8209;Петербурге работы серии ELEMENTALS
        .content
          .text
            p Проектное бюро BUREAU&nbsp;21 вместе с компанией METAMORPH arredi&nbsp;&&nbsp;progetti собрали друзей и партнеров, ценителей современного искусства и дизайна, в самой комфортной и гостеприимной «студии, где есть все» на&nbsp;Красносельской&nbsp;улице,&nbsp;4.
            p Поводом для встречи стал визит Штефана&nbsp;Шпихера в Санкт&#8209;Петербург. Художник привез в наш город часть работ большой серии ELEMENTALS, которая недавно была представлена на выставке в швейцарском Локарно.
            p В 2020 году в Русском музее планируется персональная ретроспективная выставка Шпихера, которая станет, несомненно, значительным событием в культурной жизни Петербурга.
          .pic
            img(src="./assets/img/news/news-1/2.jpg", alt="img")