extends ../layout/page

block content
  .news
    .text
      .container
        h1.title События
        ul.list
          li.item
            a(href="/news-3.html")
              .pic
                .inner
                  img(src="./assets/img/news/news-3/photo.JPG", alt="img")
              .about
                h2.title 
                  | Русское застолье 
                  br
                  | в сопровождении искусства
                span.date 14.10.2019
          li.item
            a(href="/news-2.html")
              .pic
                .inner
                  img(src="./assets/img/news/news-2/bg.jpg", alt="img")
              .about
                h2.title 
                  | Представлен цвет 
                  br
                  | 2020&nbsp;года
                span.date 16.12.2019
          li.item
            a(href="/news-1.html")
              .pic
                .inner
                  img(src="./assets/img/news/news-1/1.jpg", alt="img")
              .about
                h2.title Штефан&nbsp;Шпихер презентовал в&nbsp;Санкт&#8209;Петербурге работы серии ELEMENTALS
                span.date 09.11.2019