extends ../layout/page

block content
  .news
    .bottom
      .container
        h1.title 
          | Представлен 
          br
          | цвет 2020 года
        .content
          .text
            p 
              | В начале декабря 2019 года компания Pantone LLC, поставщик профессиональных цветовых стандартов и цифровых решений, объявила PANTONE 19-4052, 
              | Classic Blue (Классический синий) цветом наступающего года. 
            p 
              | «В наши дни потребность в вере и доверии становится особенно острой. И PANTONE 19-4052 Classic Blue, прочный и надежный синий оттенок, передает то ощущение уверенности и постоянства, 
              | на которые мы всегда можем положиться. Бескрайний синий оттенок, напоминающий о бесконечном, безграничном вечернем небе, заставляет нас смотреть на вещи, 
              | выходя за рамки простого и очевидного, стимулируя нас мыслить шире, побуждая к более глубоким размышлениям», говорит Леатрис Эйсман, исполнительный директор Института цвета Pantone.
            p 
              | Передавая ощущение защиты, PANTONE 19-4052 Classic Blue - фаворит для домашнего декора. 
              | Будучи прочным фундаментом для дизайна, PANTONE 19-4052 Classic Blue привносит в интерьеры творческую уверенность, 
              | трансформируя пространство с помощью уникальных цветовых комбинаций и тональных выражений.
          .pic
            img(src="./assets/img/news/news-2/pic.jpg", alt="img")