extends ../layout/page

block content
  .news
    .bottom
      .container
        h1.title 
          | Русское застолье 
          br
          | в сопровождении искусства
        .content
          .text
            p 
              | Международная встреча в русском стиле прошла в Санкт&#8209;Петербурге. 
              | Художник Штефан Шпихер и представители BUREAU&nbsp;21 встретились со&nbsp;своими клиентами и&nbsp;друзьями из Италии и&nbsp;Нью&#8209;Йорка.
          .pic
            img(src="./assets/img/news/news-3/photo.JPG", alt="img")