extends ../layout/page

block content
  .partners
    .text
      .container
        h1.title Наши партнеры
        p
          | Мы сотрудничаем 
          br
          | с лучшими! 
    .content
      .container
        ul.list
          li.item
            a(href="http://adc-center.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-1.png", alt="img")
              .brand
                h3.title Austrian Design Center
                p Солнцезащитные системы
          li.item
            a(href="http://komofloor.com/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-2.svg", alt="")
              .brand
                h3.title Komofloor
                p Напольные покрытия из красного дерева
          li.item
            a(href="http://domdeinterior.com/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-3.png", alt="")
              .brand
                h3.title Dom de interior
                p Элитная мебель по индивидуальным проектам
          li.item
            a(href="https://www.and28.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-4.png", alt="")
              .brand
                h3.title And28
                p Сантехника и комплектующие для ванных комнат
          li.item
            a(href="http://studio-techno.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-5.png", alt="")
              .brand
                h3.title Studio Techno
                p Поставщик премиальной бытовой техники и аксессуаров
          li.item
            a(href="http://vivaparket.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-6.png", alt="")
              .brand
                h3.title Viva Паркет
                p Напольные покрытия
          li.item
            a(href="http://kospb.com/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-7.png", alt="")
              .brand
                h3.title Каменный остров
                p Изделия из природного камня
          li.item
            a(href="https://decorumdesign.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-8.png", alt="")
              .brand
                h3.title Decorum
                p Салон американской дизайнерской мебели премиум-класса
          li.item
            a(href="http://www.geopro.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-9.svg", alt="")
              .brand
                h3.title Компания "Геометрия Пространства"
                p Мобильное и стационарное остекление
          li.item
            a(href="https://ru.duravit.com/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-10.png", alt="")
              .brand
                h3.title Duravit
                p Фарфоровая сантехника из Германии
          li.item
            a(href="http://www.dinos-park.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-11.png", alt="")
              .brand
                h3.title Динос парк
                p Ландшафтный дизайн
          li.item
            a(href="https://russkoelytye.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-12.png", alt="")
              .brand
                h3.title Русское литье
                p Художественное литье чугунных изделий
          li.item
            a(href="http://www.teploart.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-13.png", alt="")
              .brand
                h3.title Тепло-Арт
                p Системы отопления
          li.item
            a(href="http://cataloniaspb.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-14.png", alt="")
              .brand
                h3.title Catalonia Ceramics
                p Керамическая плитка и паркет из Испании и Италии
          li.item
            a(href="https://www.aeromax.spb.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-15.png", alt="")
              .brand
                h3.title Аэромакс
                p Вентиляция, кондиционирование, пылеуборка
          li.item
            a(href="http://www.salonpodium.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-16.svg", alt="")
              .brand
                h3.title Салон Подиум
                p Светильники и предметы интерьера ведущих мировых брендов
          li.item
            a(href="https://uno-agency.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-17.svg", alt="")
              .brand
                h3.title UNO Agency
                p Коммуникационное агентство
          li.item
            a(href="https://restyle-spb.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-18.png", alt="")
              .brand
                h3.title РеСтайл
                p Лако-красочные и декоративные материалы, лепной декор из полиуретана
          li.item
            a(href="http://stek.goryaninbrothers.com/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-19.svg", alt="")
              .brand
                h3.title СТЭК
                p Столярное производство: предметы мебели, эксклюзивные строительные изделия, комплексные решения интерьеров
          li.item
            a(href="https://principnovo.ru/", target='_blank')
              .logo
                img(src="./assets/img/partners/partner-20.png", alt="")
              .brand
                h3.title Принцип NOVO
                p Ландшафтная компания