extends ../layout/project

block content
  .project.project__commerce--2
    .page__top
    //- .about
    //-   .container
    //-     .part
    //-       h2.title Angliyskaya, 70
    //-       p.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, earum!
    .content
      .container
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/commerce/project-2/pic-1.jpg')
              img(src="./assets/img/project/commerce/project-2/pic-1.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/commerce/project-2/pic-2.jpg')
              img(src="./assets/img/project/commerce/project-2/pic-2.jpg", alt="img")
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/commerce/project-2/pic-3.jpg')
              img(src="./assets/img/project/commerce/project-2/pic-3.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/commerce/project-2/pic-4.jpg')
              img(src="./assets/img/project/commerce/project-2/pic-4.jpg", alt="img")
            a(data-lightbox='project-1' href='./assets/img/project/commerce/project-2/pic-5.jpg')
              img(src="./assets/img/project/commerce/project-2/pic-5.jpg", alt="img")
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/commerce/project-2/pic-6.jpg')
              img(src="./assets/img/project/commerce/project-2/pic-6.jpg", alt="img")