extends ../layout/project

block content
  .project.project__private--12
    .page__top
    .content
      .container
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-12/pic-1.jpg')
              img(src="./assets/img/project/private/project-12/pic-1-edit.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-12/pic-2.jpg')
              img(src="./assets/img/project/private/project-12/pic-2-edit.jpg", alt="img")
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-12/pic-3.jpg')
              img(src="./assets/img/project/private/project-12/pic-3-edit.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-12/pic-4.jpg')
              img(src="./assets/img/project/private/project-12/pic-4-edit.jpg", alt="img")
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-12/pic-5.jpg')
              img(src="./assets/img/project/private/project-12/pic-5-edit.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-12/pic-6.jpg')
              img(src="./assets/img/project/private/project-12/pic-6-edit.jpg", alt="img")
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-12/pic-7.jpg')
              img(src="./assets/img/project/private/project-12/pic-7-edit.jpg", alt="img")
            a(data-lightbox='project-1' href='./assets/img/project/private/project-12/pic-9.jpg')
              img(src="./assets/img/project/private/project-12/pic-9-edit.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-12/pic-8.jpg')
              img(src="./assets/img/project/private/project-12/pic-8-edit.jpg", alt="img")