extends ../layout/project

block content
  .project.project__private--2
    .page__top
    .about
      .container
        .part
          h2.title ‘Norfolk’
          p.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, earum!
    .content
      .container
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-2/pic-1.jpg')
              img(src="./assets/img/project/private/project-2/pic-1.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-2/pic-2.jpg')
              img(src="./assets/img/project/private/project-2/pic-2.jpg", alt="img")
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-2/pic-3.jpg')
              img(src="./assets/img/project/private/project-2/pic-3.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-2/pic-4.jpg')
              img(src="./assets/img/project/private/project-2/pic-4.jpg", alt="img")
            a(data-lightbox='project-1' href='./assets/img/project/private/project-2/pic-5.jpg')
              img(src="./assets/img/project/private/project-2/pic-5.jpg", alt="img")
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-2/pic-6.jpg')
              img(src="./assets/img/project/private/project-2/pic-6.jpg", alt="img")
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-2/pic-7.jpg')
              img(src="./assets/img/project/private/project-2/pic-7.jpg", alt="img")
            a(data-lightbox='project-1' href='./assets/img/project/private/project-2/pic-8.jpg')
              img(src="./assets/img/project/private/project-2/pic-8.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-2/pic-9.jpg')
              img(src="./assets/img/project/private/project-2/pic-9.jpg", alt="img")
            a(data-lightbox='project-1' href='./assets/img/project/private/project-2/pic-10.jpg')
              img(src="./assets/img/project/private/project-2/pic-10.jpg", alt="img")