extends ../layout/project

block content
  .project.project__private--11
    .page__top
    .content
      .container
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-1.jpg')
              img(src="./assets/img/project/private/project-11/pic-1.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-2.jpg')
              img(src="./assets/img/project/private/project-11/pic-2.jpg", alt="img")
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-3.jpg')
              img(src="./assets/img/project/private/project-11/pic-3.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-4.jpg')
              img(src="./assets/img/project/private/project-11/pic-4.jpg", alt="img")
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-5.jpg')
              img(src="./assets/img/project/private/project-11/pic-5.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-6.jpg')
              img(src="./assets/img/project/private/project-11/pic-6.jpg", alt="img")
        
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-7.jpg')
              img(src="./assets/img/project/private/project-11/pic-7.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-8.jpg')
              img(src="./assets/img/project/private/project-11/pic-8.jpg", alt="img")
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-9.jpg')
              img(src="./assets/img/project/private/project-11/pic-9.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-10.jpg')
              img(src="./assets/img/project/private/project-11/pic-10.jpg", alt="img")
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-12.jpg')
              img(src="./assets/img/project/private/project-11/pic-12.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-11.jpg')
              img(src="./assets/img/project/private/project-11/pic-11.jpg", alt="img")
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-13.jpg')
              img(src="./assets/img/project/private/project-11/pic-13.jpg", alt="img")
        .row
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-14.jpg')
              img(src="./assets/img/project/private/project-11/pic-14.jpg", alt="img")
          .part
            a(data-lightbox='project-1' href='./assets/img/project/private/project-11/pic-15.jpg')
              img(src="./assets/img/project/private/project-11/pic-15.jpg", alt="img")