extends ../layout/page

block content
  .redevelopment
    .page__top
      .container
        h1.title 
          | Дизайн 
          br
          | для жизни 
          br
          | и вдохновения 