extends ../layout/page

block content
  .redevelopment
    .page__top
      .container
        h1.title 
          | Согласование 
          br
          | перепланировок
    .about
      .container
        .part
          p.text 
            | Не стоит забывать про такой важный шаг, как согласование перепланировки помещения
          p.text 
            | Очень часто к нам обращаются уже с готовым дизайн-проектом, 
            | который не соответствует нормам проектирования. 
            | В Bureau 21 дизайнеры работают в тандеме с опытными проектировщиками, 
            | что позволяет всегда получить согласованную перепланировку и защитить себя от штрафов, жалоб и судов.
        .part
          p.text 
            | Для домов-памятников архитектуры, которых в Санкт-Петербурге немало, применяется особый порядок согласования. 
            | Бюро проконсультирует по перепланировке и переустройству объекта любой сложности и любого назначения: 
            | жилые помещения, рестораны, гостиницы, бизнес-центры, магазины, медицинские центры и т.д.