extends ../layout/page

block content
  .spicher
    .page__top
      .container
        h1.title 
          | Онлайн-галерея
          br
          | Штефана Шпихера
    .about
      .container
        .part
          p.text 
            | Уникальная возможность дополнить интерьер полотнами всемирно известного художника&#8209;абстракциониста
          p.text 
            | Штефан Шпихер, швейцарский художник, родился в г. Базеле 27 ноября 1950 года. 
            | Получил художественное образование в Университете искусства и дизайна г. Базеля и в школе&#8209;мастерской итальянского художника Беппе Ассенца.
        .part
          .pic
            img(src="./assets/img/spicher/spicher-photo.jpg", alt="")
          p.quote 
            span “
            | У каждого художника есть свой взгляд на предмет.
            span ”
          p.author Stephan Spicher
    .content
      .container
        p hello
    .site
      .container
        p.text Сайт художника
        a.link(href="http://www.stephanspicher.com/", target='_blank') www.stephanspicher.com