extends ../layout/page

block content
  .spicher
    .page__top
      .container
        h1.title 
          | Онлайн-галерея
          br
          | Штефана Шпихера
    .about
      .container
        .part
          p.text 
            | Уникальная возможность дополнить интерьер полотнами всемирно известного художника&#8209;абстракциониста
          p.text 
            | Штефан Шпихер, швейцарский художник, родился в г. Базеле 27 ноября 1950 года. 
            | Получил художественное образование в Университете искусства и дизайна г. Базеля и в школе&#8209;мастерской итальянского художника Беппе Ассенца.
        .part
          .pic
            img(src="./assets/img/spicher/spicher-photo.jpg", alt="")
          p.quote 
            span “
            | У каждого художника есть свой взгляд на предмет.
            span ”
          p.author Stephan Spicher
    .content
      .container
        .row
          .part
            p Переехав работать в Берлин, Шпихер, после длительных лет изучения цвета и теории цвета Гёте, делает радикальный шаг и посвящает себя впервые строго чёрно-белой живописи.
            p Несколько позже, во время проживания в южных Альпах Тессина, создаётся серия «Пепельные стены» как граница Сознательного.
          .part
            .pics
              .slider#shpiher-slider-1
                a.slider__item(data-lightbox='shpiher-slider-1' href='/assets/img/spicher/gallery-1/pic-1.jpg')
                  img(src="/assets/img/spicher/gallery-1/pic-1.jpg", alt="img")
                a.slider__item(data-lightbox='shpiher-slider-1' href='/assets/img/spicher/gallery-1/pic-2.jpg')
                  img(src="/assets/img/spicher/gallery-1/pic-2.jpg", alt="img")
                a.slider__item(data-lightbox='shpiher-slider-1' href='/assets/img/spicher/gallery-1/pic-3.jpg')
                  img(src="/assets/img/spicher/gallery-1/pic-3.jpg", alt="img")
        .row
          .part
            p Первая важная персональная выставка состоялась на «Art Basel» в 1986 году.
            p После неё последовали выставки в Германии, Швейцарии, США, Японии и в Тайване.
            p Посещение Японии произвело на него сильное впечатление и до сих пор оказывает влияние на его работы.
            p Во время следующей фазы творчества «Вечная линия», которая продолжалась с 1989 до 2000, он встретился со своей будущей женой Татьяной Семёновой и начал частично работать в России.
            p Из работ с линиями развилась следующая серия «Цветение», работы из которой много раз выставлялись, в т.ч. в 2006 году в Русском музее и в Музее Хашимото в Киото.
          .part
            .pics
              .slider#shpiher-slider-2
                a.slider__item(data-lightbox='shpiher-slider-2' href='/assets/img/spicher/gallery-2/pic-2.jpg')
                  img(src="/assets/img/spicher/gallery-2/pic-2.jpg", alt="img")
                a.slider__item(data-lightbox='shpiher-slider-2' href='/assets/img/spicher/gallery-2/pic-1.jpg')
                  img(src="/assets/img/spicher/gallery-2/pic-1.jpg", alt="img")
                a.slider__item(data-lightbox='shpiher-slider-2' href='/assets/img/spicher/gallery-2/pic-3.jpg')
                  img(src="/assets/img/spicher/gallery-2/pic-3.jpg", alt="img")
                a.slider__item(data-lightbox='shpiher-slider-2' href='/assets/img/spicher/gallery-2/pic-4.jpg')
                  img(src="/assets/img/spicher/gallery-2/pic-4.jpg", alt="img")
        .row
          .part
            p В настоящий период Шпихер работает в различных техниках над сериями «Цветение и увядание» и «Elementals».
            p В 2020 он планирует сделать большую ретроспективную выставку в Русском музее.
            p Штефан Шпихер проживает с женой Татьяной и сыном Лауренсом в городе Базель и деревне в Тессине.
            p Вы можете познакомиться с творчеством художника и приобрести работу Штефана Шпихера для своего уникального интерьера в нашей художественной галерее.
          .part
            .pics
              .slider#shpiher-slider-3
                a.slider__item(data-lightbox='shpiher-slider-3' href='/assets/img/spicher/gallery-3/pic-2.jpg')
                  img(src="/assets/img/spicher/gallery-3/pic-2.jpg", alt="img")
                a.slider__item(data-lightbox='shpiher-slider-3' href='/assets/img/spicher/gallery-3/pic-1.jpg')
                  img(src="/assets/img/spicher/gallery-3/pic-1.jpg", alt="img")
    .site
      .container
        p.text Сайт художника
        a.link(href="http://www.stephanspicher.com/", target='_blank') www.stephanspicher.com